Dear [$TO_NAME$],<br /><br />

The following event has been cancelled:
<br />

<dl>

	<dt>Event Name</dt>
	<dd>[$EVENT_NAME$]</dd>

	<dt>Date</dt>
	<dd>[$EVENT_DATE$]</dd>

	<dt>Location</dt>
	<dd>[$EVENT_LOCATION$]</dd>

	<dt>Description</dt>
	<dd>[$EVENT_DESCRIPTION$]</dd>		
	
</dl>

Please go to this URL for the other <a href="[$PUBLIC_EVENTS_URL$]">Upcoming Events.</a><br/>

<br />
Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
