Dear [$TO_NAME$],<br /><br />

You are invited to the event:
<br />

<dl>

	<dt>Event Name</dt>
	<dd>[$EVENT_NAME$]</dd>

	<dt>Date</dt>
	<dd>[$EVENT_DATE$]</dd>

	<dt>Location</dt>
	<dd>[$EVENT_LOCATION$]</dd>

	<dt>Description</dt>
	<dd>[$EVENT_DESCRIPTION$]</dd>		
	
</dl>

<p>Please confirm your attendance for this event: <a href="[$CONFIRMATION_URL$]">Yes, I'm attending.</a> <a href="[$REJECTION_URL$]">No, I'm not attending.</a></p>

<br />
Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />