Dear [$TO_NAME$],<br /><br />

This is a reminder for the following event:
<br />

<dl>

	<dt>Event Name</dt>
	<dd>[$EVENT_NAME$]</dd>

	<dt>Date</dt>
	<dd>[$EVENT_DATE$]</dd>

	<dt>Location</dt>
	<dd>[$EVENT_LOCATION$]</dd>

	<dt>Description</dt>
	<dd>[$EVENT_DESCRIPTION$]</dd>		
	
</dl>

<br />
Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />